#
# Code owners do not propagate to all repos, so this only affects the
# .github repository. But this should be re-created in each of the Titan
# community repositories.
#

*   @titan-data/maintainers
